
<button type="button" id="create-space-button"><i class="fa fa-map-pin"></i></button>

    <div id="modal-backdrop" class="hidden"></div>
    <div id="create-space-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Add Your Space</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="space-input-element">
            <label for="space-name-input">Name  *</label>
            <input id="space-name-input">
          </div>

          <div class="space-input-element">
             <label for="space-address-input">Address *</label>
             <input type="text" id="space-address-input">
          </div>

          <div class="space-input-element">
            <label for="space-location-input">Location (City) *</label>
          <select id="space-location-input">
            <option value="">Select City</option>
            <option value="">-----------------</option>
            <option value="Corvallis">Corvallis</option>
            <option value="Eugene">Eugene</option>
            <option value="Portland">Portland</option>
            <option value="Salem">Salem</option>
          </select>
          </div>

          <div class="space-input-element">
            <label for="space-price-input">Price *</label>
            <input type="text" id="space-price-input">
          </div>

          <div class="space-input-element">
            <label for="space-day-input">Day *</label>
          <select id="space-day-input">
            <option value="">Select Day</option>
            <option value="">-----------------</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>

          </div>

          <div class="space-input-element">
            <label for="space-picture-input">Picture (URL) *</label> <!-- Or we could add button for add picture -->
            <input type="text" id="space-picture-input">
            <button type="button" class="space-picture-button">Add</button>
          </div>

          <div class="space-input-element">
            <label for="space-description-input">Description</label>
            <input type="text" id="space-description-input">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Create</button>
        </div>

      </div>
    </div>
