<header>
      <a href="#"><h1 class="site-title"><i class="fa fa-car"></i>P@rkr</h1></a>

      <nav class="navbar">
        <ul class="navlist2">
          <li><a class="active" href="#">Filter</a></li>
          <div class="dropdown">
            <a href="#" class="dropbtn">Location</a>
            <div class="dropdown-content">
              <a href="#">Corvallis</a>
              <a href="#">Eugene</a>
              <a href="#">Portland</a>
              <a href="#">Salem</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="dropbtn">Size</a>
            <div class="dropdown-content">
              <a href="#">Small</a>
              <a href="#">Medium</a>
              <a href="#">Large</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="dropbtn">Days</a>
            <div class="dropdown-content">
              <a href="#">Sunday</a>
              <a href="#">Monday</a>
              <a href="#">Tuesday</a>
              <a href="#">Wednesday</a>
              <a href="#">Thursday</a>
              <a href="#">Friday</a>
              <a href="#">Saturday</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="dropbtn">Price</a>
            <div class="dropdown-content">
              <a href="#">~ $10</a>
              <a href="#">~ $15</a>
              <a href="#">~ $20</a>
              <a href="#">~ $25</a>
              <a href="#">$25 ~</a>
            </div>
          </div>
        </ul>

      </nav>
    </header>
