<div id="larger-view-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Detail Information</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <div class="img-container">
                <img class="park-photo-img" src="http://www.iciprivatesale.com/wp-content/uploads/2017/02/resurfaced-concrete-parking-lot.jpg" height="400px" width="650px">
            </div>
            <div class="detail-container">
                <p class="detail-name">Name: Seungrae</p>
                <p class="detail-address">Address: 9999 NW 99ST </p>
                <p class="detail-city">City: Corvallis</p>
                <p class="detail-day">Day: Medium</p>
                <p class="detail-price">Price: 5.00</p>
                <p class="detail-description"><br />Description <br /><br /> It is nice place!</p>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-reserve-button">Reserve</button>
        </div>

      </div>
    </div>
