<header>
  <a href="#"><h1 class="site-title"><i class="fa fa-car"></i>P@rkr</h1></a>
  <nav class="navbar">
    <ul class="navlist2">
      <li><a class="active" href="#">Find a spot to park!</a></li>
    </ul>
  </nav>
</header>
<main class="image-container">	  
<form class = "postInput" method="post" action="/search">
 Location<input required class = "inputs" type="text" name="search[city]">
 Radius  <input required class = "inputs" type="number" name="search[radius]" min="1">
 <input class = "inputs" type="submit" value="Submit" id="button-search">
</form>
</main>

