/*
		<div class="welcome">Welcome to Parkr</div>
		<div class="guide">Enter a city</div>
		<form method="post" action="/search">
			Address<input type="text" name="search[city]">
			Radius<input type="number" name="search[radius]" min="1">
			<input type="submit" value="Submit" id="button-search">
		</form>
	</body>
</html>  
*/


.guide 
{
	border: 10px;
	background-color: black;
	color: white;
	padding: 10px;

}

.site-title {
  	margin: 0px;
  	padding: 10px 20px;
  	font-size: 30px;
  	font-weight: 100;
  	background: linear-gradient(to bottom, #319df6, #00FFFF);
  	color: #fff;
}

.welcome 
{
	margin: 0px;
	padding: 10px;
	font-size: 20px;
	font-weight: 500;
	background: linear-gradient(to right, white, white, #d3d3d3);
}

.postInput
{
	position: absolute;
	left: 200px;
	top: 275px;
	height: 175px;
	width: 1050px;
	margin: 20px;
	padding: 50px;
	font-size: 20px;
	font-weight: 500;
	background: linear-gradient(to bottom, white, #d3d3d3, black);
	border-radius: 33px;
}

.inputs
{
	font-size: 15px;
	margin: 5px;
	padding: 10px;
	background: linear-gradient(to top, #C0C0C0, white);
	border-radius: 10px;
}


body
{
  	height: 100%;
	width: 100%;
	background: url("HomepageBack.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0px;
	padding: 0px;
  	font-family: Roboto, Helvetica, sans-serif;
}

html
{
	height: 100%;
	width: 100%;
}

a
{
	text-decoration: none;
}
